@charset "utf-8";

/*
Author: Eduardo Garcia
Date: July 7, 2025
*/

body {
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 14pt;
   padding-right: 60px;
   padding-left: 20px;
   padding-bottom: 15px;
   margin: 0px 25px 0px 25px;
   background-color: whitesmoke;
}

nav > ul {
   line-height: 1.5em;
}

h1 {
   color: blue;
   background-color: hsl(40, 100%, 70%);
}

h2 {
   text-indent: 15px;
   color: hsla(240, 100%, 40.2%, 1);
   background-color: hsla(38, 90%, 60%, 0.5);
}

section {
   margin: auto;
   width: 90%;
   background-color: ivory;
   p {
      padding: 15px 60px 15px 20px;
   }
}

footer {
   background-color: hsla(225, 72%, 57%, 0.1);
}